<nav class="navbar navbar-expand-lg  navbar-light bg-light ">
<strong class="nav" routerLink="" routerLinkActive="active">Groceries</strong>
  <a class="linkmargin" routerLink="store/all" routerLinkActive="active">All</a>
  <a class="linkmargin" routerLink="store/fruit" routerLinkActive="active">Fruits</a>
  <a class="linkmargin" routerLink="store/vegetable" routerLinkActive="active">Vegetables</a>
  <a class="linkmargin" routerLink="store/dairy" routerLinkActive="active">Dairy</a>
  <a class="linkmargin" routerLink="store/bakery" routerLinkActive="active">Bakery</a>

  

  <button class="buttonConatiner " style="--c:#009ffd; margin-left: 500px;" routerLink="/cart" routerLinkActive="active"><i class="fa fa-shopping-cart" ></i>My Cart</button>
</nav>
